.filter {
  width: 100%;
  overflow: hidden; }

.toggle {
  float: right;
  color: #63696D;
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch; }
  .toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .toggle input + label {
    cursor: pointer;
    background-color: #F7F8F9;
    margin: 0;
    padding: .5rem 2rem;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #DDD;
    font-size: 1rem;
    font-family: "trebuchet ms", sans-serif;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0); }
    .toggle input + label:first-of-type {
      border-radius: 6px 0 0 6px;
      border-right: none; }
    .toggle input + label:last-of-type {
      border-radius: 0 6px 6px 0;
      border-left: none; }
  .toggle input:checked + label {
    background-color: #1A72B0;
    color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #1A72B0;
    z-index: -1; }
  .toggle input:focus + label {
    outline: dotted 1px #CCC;
    outline-offset: .45rem; }
