<li class="movie">
  <img ng-src="{{ $ctrl.movie.localImage }}" class="movie-poster" />

  <div class="movie-container">
    <h3 class="movie-title">{{ $ctrl.movie.Title }}</h4>
    <div class="movie-metadata">
      <span class="movie-rating">{{ $ctrl.movie.Rated }}</span>
      <span class="movie-runtime">{{ $ctrl.movie.Runtime }}</span>
      <span class="movie-release-date">{{ $ctrl.movie.Released }}</span>
    </div>

    <div class="movie-plot">{{ $ctrl.movie.Plot }}</div>

    <a href="{{ $ctrl.movie.imdbLink }}" class="movie-link">View on IMDB</a>
  </div>
</li>
